{% if site.twitter_user %}
<section class="well">
  <a class="twitter-timeline" href="https://twitter.com/salinger001101" data-widget-id="429220673311891456">
    @salinger001101 からのツイート
  </a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</section>
{% endif %}
